<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{message}}</h1>
<h2>Create the Data</h2>
<form action="/store_book" method="post">
<input type="text" name="title" placeholder="Enter book title"><br><br>
<input type="text" name="author" placeholder="Enter author name"><br><br>

<input type="submit" value="insert">
</form>

<ul>
    {{#each data}}
    <li> 
    {{this.title}}-{{this.author}}
    <a href="/update/{{this._id}}">Edit</a>
    <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete?')">Delete</a>

    </li>
    {{/each}}
</ul>
</body>
</html>

